/Library/
/Temp/
/Obj/
/Build/
/Builds/
/Logs/
/UserSettings/
/.vs/
.vsconfig
*.pidb
*.pdb
*.suo
*.tmp
*.user
*.csproj
*.sln
.DS_Store
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-13_10_0.bundle
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-13_10_0.so
Assets/Belevich/
